<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <div padding-top text-center *ngIf="user && !loadImage">
    <img *ngIf="user.avatar" [src]="user.avatar" alt="avatar">
    <img *ngIf="!user.avatar" src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
    <h2>{{user.username}}</h2>

    <ion-list inset>
      <ion-item (click)="loadImage=true">Update Picture</ion-item>
      <ion-item (click)="changeUsername()">Change Username</ion-item>
      <ion-item (click)="changeEmail()">Change Email</ion-item>
      <ion-item (click)="changePassword()">Change Password</ion-item>
      <ion-item (click)="support()">Support</ion-item>
      <ion-item (click)="logout()">Logout</ion-item>
    </ion-list>
    <p *ngIf="succeed">{{ jobDescription }}</p>
  </div>

  <upload-image *ngIf="user && loadImage"
        [username]="user.username"
        (updateUser)="updatePicture($event)"
        (exit)="onExit()">
  </upload-image>
</ion-content>
