<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="sessions" href="/setup/tabs/(sessions:sessions)">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Sessions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers" href="/setup/tabs/(speakers:speakers)">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Speakers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tracks" href="/setup/tabs/(tracks:tracks)">
      <ion-icon name="browsers"></ion-icon>
      <ion-label>Tracks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="partofday" href="/setup/tabs/(partofday:partofday)">
      <ion-icon name="clock"></ion-icon>
      <ion-label>PartOfDay</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" href="/setup/tabs/(map:map)">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="support" href="/setup/tabs/(support:support)">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Support</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

  <ion-tab tab="sessions">
    <ion-router-outlet name="sessions"></ion-router-outlet>
  </ion-tab>

  <ion-tab tab="speakers">
    <ion-router-outlet name="speakers"></ion-router-outlet>
  </ion-tab>

  <ion-tab tab="tracks">
      <ion-router-outlet name="tracks"></ion-router-outlet>
    </ion-tab>

    <ion-tab tab="partofday">
        <ion-router-outlet name="partofday"></ion-router-outlet>
      </ion-tab>
      
    <ion-tab tab="map">
    <ion-router-outlet name="map"></ion-router-outlet>
  </ion-tab>

  <ion-tab tab="support">
    <ion-router-outlet name="support"></ion-router-outlet>
  </ion-tab>

</ion-tabs>
  